
<div class="large-3 small-3 <%=food_state%> cookingItem columns end" id="cid<%=cooking_id%>">
		<label class="textcenter spanover h1font " ><%=food_name%></label>
		<label class="textcenter">餐桌：<%=table_num%>号&nbsp;&nbsp;&nbsp;&nbsp;点餐时间：<%=order_date%> </label>
		<span hidden class="cookingId"><%=cooking_id%></span>
</div>
