
<div class="row" style="text-align:center;">
		<h1>确认结账吗?</h1>
		<button href="#" class=" button success" id="comfirmPayBtn" style="">确认</button>
		<button href="#" class=" button alert" id="canclePayBtn" style="">取消</button>
</div>

<script>
	 	var pay_io_res = io().connect("/");
	 	var pay_io = io.connect("/pay");	
		$('.modal #canclePayBtn').click(function(){
			$.modal().close();
		});

		$('.modal #comfirmPayBtn').click(function(){
			$.post('/bill/update/pay_state',{bill_id:<%=bill_id%>,pay_state:1},function(data){
				pay_io.emit("pay",{table_num:<%=table_num%>,bill_id:<%=bill_id%>},function(state){
					console.log({table_num:<%=table_num%>,bill_id:<%=bill_id%>});
					if(state==200){
						window.location.href="/account/<%=table_num%>/<%=bill_id%>/"
					}
				})
			});

		});


</script>
