<% for(i in data){%>
	<tr id='cid<%=data[i].cooking_id%>'>
		<td><%=data[i].food_id%></td>
		<td><%=data[i].food_name%></td>
		<td><%=data[i].food_price%></td>
		<td><%=data[i].cooking_state%></td>
	</tr>
<%}%>